<%= form_with(model: @talk, local: true , url: choose_new_or_edit ) do |form| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= @talk.errors.count %> There are errors. </h2>
      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="talk">
    <%= form.label :talk %>
    <%= form.text_field :talk %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to'Return to talk list screen', talks_path %>
