<h3> Send with the following contents. </h3>
<%= form_with(model: @talk, url: talks_path, local: true) do |form| %>
<%= form.hidden_field :talk %>
<p id="check_data">Talk: <%= @talk.talk %></p>
<div class="submit">
    <%= form.submit "register" %>
    <%= form.submit "back", name:'back' %>
</div>
<% end %>