<h1>Talk list</h1>
<p><%= notice %></p>
<table>
   <tr>
     <th>ID </th>
     <th>Talks</th>
   </tr>
<% @talks.each do |talk| %>
   <tr>
     <td><%= talk.id %></td>
     <td><%= talk.talk %></td>
     <td><%= link_to 'Check details', talk_path(talk.id) %></td>
     <td><%= link_to 'Edit talk', edit_talk_path(talk.id),
     data: {confirm:'Are you sure you want to edit? '} %></td>
     <td><%= link_to 'Delete talk', talk_path(talk.id), method: :delete,
     data: {confirm:'Are you sure you want to delete? '}  %> </td>
   </tr>
<% end %>
</table>
<%= link_to'Post new talk ', new_talk_path %>
