<h1>Talk list</h1>
<table>
   <tr>
     <th>ID </th>
     <th>Talks</th>
   </tr>
<% @talks.each do |talk| %>
   <tr>
     <td><%= talk.id %></td>
     <td><%= talk.talk %></td>
     <td><%= link_to'Check details', talk_path(talk.id) %></td>
     <td><%= link_to "Edit talk", edit_talk_path(talk.id) %></td>
   </tr>
<% end %>
</table>
<%= link_to'Post new talk ', new_talk_path %>
